.weather-icon {
  font-size: 100px;
}

img#icon {
  width: 64px;
  height: 64px;
  padding: 0;
  display: block;
}

.container > .center {
  max-width: 600px;
  margin: 0 auto;
}

#temperature {
  display: inline;
  font-size: 36px;
  font-weight: 500;
  flex-grow: 1;
}

.weather-forecast {
  margin-top: 16px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  margin-top: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 13px;
}
